<section class="bg-black p-2">
<div
    class="relative isolate overflow-hidden bg-black px-6 pt-16 sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0  ">
    <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
        <h1 class="text-6xl font-semibold tracking-tight text-balance text-white sm:text-4xl">{{title}}</h1>
        <p class="mt-6 text-lg/8 text-pretty text-gray-300">¡Bienvenidos!</p>
        <p class="mt-6 text-lg/8 text-pretty text-gray-300">En La Casita nos especializamos en ofrecerte una experiencia
            gastronómica única con platos deliciosos y preparados con los mejores ingredientes.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start mb-5">
            <a routerLink="/menu"
                class="rounded-md bg-red-500 p-4 text-lg font-semibold text-white hover:text-white hover:bg-black hover:outline-dashed focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Realizar Pedido</a>
        </div>
    </div>
    <div >
        <img src="ham.jpg" alt="" class="rounded-xl w-100 h-auto">
    </div>

</div>

</section>