<div  class="p-5 m-5 bg-gray-100 shadow-md">
    <div class="grid grid-cols-2 border-1">
        <div class="">
            <img src="background.jpg" alt="item" class="rounded-lg">

        </div>
        <div class="m-5 p-10 bg-red-500">
            <h1 class="text-5xl font-bold" >{{false}}</h1>
            <p></p>
        </div>
    </div>
    <div class="flex flex-row">
        <button class="bg-red-700 p-3 m-1">Pagar</button>
        <button class="bg-red-700 p-3 m-1">Añadir al carrito</button>
    </div>

    <div id="menu-phone" class="">

    </div>
</div>